.App {
  text-align: center;

  
}
body{
    background-image: radial-gradient(rgb(25, 126, 180),rgb(159, 196, 126),rgb(99, 99, 235));
    background-repeat: no-repeat;
    height: 100vh;
}
table{
  font-size: x-large;
  padding: 5px;
  background-color: white;
}
.Nav-header{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
 
}
a{
  color: blue;
}
input{
  text-align: center;
  width:200px;
  height:30px;
  margin: 10px;
}
button{
  background-color: blueviolet;
  width: 80px;
  height: 50px;
 
  color: #fff;
  border:none;
  border-radius: 10px;
  margin: 10px;
}
.Std-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
thead{
  color:chocolate;
  font-weight: bold;
}
.Nav-header a.active{
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  table{
    font-size: 20px;
    
  }
}